﻿@model string

@{
    ViewBag.Title = "Create Active Game";
}

<h2>Create game</h2>

        
       
              
          

<pre>@Model</pre>
           

 
@Html.ActionLink("Play me", "PlayGame", "UserGames")