﻿@model Assignment_2_WDT.Models.UserTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div>
        <h4>UserTemplate</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Width)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Width)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cells)
            </dt>

            <dd>
                <pre id="details">@Html.DisplayFor(model => model.convertCells)</pre>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserTemplateID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>