﻿@model IEnumerable<Assignment_2_WDT.Models.UserTemplate>

@{
    ViewBag.Title = "My Templates";
}

<h2>My Templates</h2>
<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <div class="col-md-5">
            <p>
                Search by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" class="btn-primary" />
            </p>
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Cells)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string userEmail = Session["Email"].ToString();

            if (item.User.Email.ToString() == userEmail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        <pre id="details">@Html.DisplayFor(modelItem => item.Cells)</pre>
                    </td>

                    <td>
                        @Html.ActionLink("Create Active game", "Create Active Game", new { id = item.UserTemplateID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserTemplateID }) | @Html.ActionLink("Delete", "Delete", new { id = item.UserTemplateID })

                    </td>
                </tr>
            }
        }

    </table>
    </div>
