﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Assignment_2_WDT.Admin.Admin" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <title>Admin tools</title>
    <%-- Style Section --%>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <asp:ContentPlaceHolder ID="StyleSection" runat="server" />
</head>
<body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Admin</a>
            </div>

            <!-- Navigation for the webforms pages -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="Users.aspx">Users</a></li>
                    <li><a href="Templates.aspx">Templates</a></li>
                    <li><a href="UploadTemplate.aspx">Upload Template</a></li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../Logout.aspx">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Content Page Section -->
    <div class="container">
        <asp:ContentPlaceHolder ID="ContentSection" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>

