﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Game of Life</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Game of Life", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">

                @*Navbar left*@
                <ul class="nav navbar-nav">
                    @*for member*@
                    @if (Session["Email"] != null)
                    {
                        <li>@Html.ActionLink("All Templates", "Index", "UserTemplates")</li>
                        <li>@Html.ActionLink("My Templates", "MyTemplates", "UserTemplates")</li>
                        <li>@Html.ActionLink("My Active Games", "ActiveGames", "UserGames")</li>
                        @*<li>@Html.ActionLink("My Saved Games", "MySavedGames", "UserGames")</li>*@
                    }

                    @*for non-member*@
                    else
                    {
                        <li>@Html.ActionLink("All Templates", "Index", "UserTemplates")</li>
                    }

                </ul>

                @*Navbar right*@
                <ul class="nav navbar-nav navbar-right">
                    @*for member*@
                    @if (Session["Email"] != null)
                    {
                        <li class="navbar-text">
                            <p><b>@Session["Name"]</b></p>
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    @*for non-member*@
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    }
                </ul>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Conway's Game of Life</p>
    </footer>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>