﻿
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Conway's Game of Life</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rules</h2>
        <p>
            The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells,
            each of which is in one of two possible states, alive or dead.
            Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent.
        </p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>
            At each step in time, the following transitions occur:
            <ol>
                <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
                <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                <li>Any live cell with more than three live neighbours dies, as if by over-population.</li>
                <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
    <h2>&nbsp;</h2>
    <p>
        The initial pattern constitutes the seed of the system. 
        The first generation is created by applying the above rules simultaneously to every cell in 
        the seed—births and deaths occur simultaneously, and the discrete moment at which this happens is 
        sometimes called a tick (in other words, each generation is a pure function of the preceding one).
         The rules continue to be applied repeatedly to create further generations. 
    </p>
        </div>
</div>

