﻿@model Assignment_2_WDT.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="row">
    <!--- Below is the start of the login form -->
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Username: </td>
                <td>@Html.EditorFor(model => model.Email)</td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn-primary" type="submit" value="Login" /></td>
            </tr>
        </table>


        @ViewBag.Error
    }
    </div>
