﻿
@{
    ViewBag.Title = "ActiveGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    GameOfLife[] games = (GameOfLife[])ViewData["Games"];
}
<h2>ActiveGames</h2>
<div>
    <table class="table">

        <tr>
            <th>
                Name
            </th>
            <th>
                Height
            </th>
            <th>
                Width
            </th>
            <th>
                Cells
            </th>

            <th></th>
        </tr>

        @for (int i = 0; i < games.Length; i++)
            {

            <tr>
                <td>
                    Name: @games[i].Name
                </td>
                <td>
                    Height: @games[i].Height
                </td>

                <td>
                    Width: @games[i].Width
                </td>
                <td>
                    <pre>@games[i].ToString()</pre>
                </td>

                <td>
                    @Html.ActionLink("Playgame", "PlayActiveGame", games[i]) |
                    @Html.ActionLink("Delete", "Delete", new { id = i })

                </td>
            </tr>


        }
    </table>
</div>