﻿@model Object

@{
    ViewBag.Title = "Play Game";
}

<h2>Game!</h2>
@{
    var cells = ViewData["Cells"];
}
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>State</dt>
        <dd>
            <pre id="state">@cells.ToString()</pre>
        </dd>

        <dt></dt>
        <dd>
            <button class="btn btn-primary btn-lg" id="playGame">Play Game</button>
            <br /><br />
            <button class="btn btn-primary btn-lg" id="stopGame" disabled>Stop Game</button>
            <br /><br />
            <input type="button" class="btn btn-primary btn-lg" value="Save Game" onclick="location.href='@Url.Action("SaveGame", "UserGames")'" />
            <br /><br />
        </dd>
    </dl>
</div>

<script>
    $(document).ready(function()
    {
        var playGameButton = $("#playGame");
        var stopGameButton = $("#stopGame");

        // ReSharper disable once InconsistentNaming
        var intervalID;

        playGameButton.click(function()
        {
            playGameButton.prop("disabled", true);
            stopGameButton.prop("disabled", false);

            intervalID = setInterval(function()
            {
                $.post("@Url.Action("TakeTurn")", function(data)
                {
                    $("#state").html(data);
                });
            }, 1000);
        });

        $("#stopGame").click(function()
        {
            playGameButton.prop("disabled", false);
            stopGameButton.prop("disabled", true);

            clearInterval(intervalID);
        });
    });
</script>
